body {
    font-size: 16px;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: minmax(auto, 1000px);
    justify-content: center;
    grid-auto-flow: row;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
    display: flex;
    flex-flow: wrap;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

aside {
    flex: 1 1 0;
    background-color: #f0f0f0;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

picture {
    flex: 100 1 400px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

picture img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

picture figcaption {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    margin: 1em 0 0;
}

aside button {
    background-color: inherit;
    flex: 0 1 auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

aside button:hover {
    background-color: #333;
    color: #fff;
}

.active, aside button:active {
    background-color: #666;
    color: #fff;
}

a {
    color:burlywood;
    text-decoration: none;
}